## Connecting to MongoDB

In [1]:
from pymongo.mongo_client import MongoClient

MongoDB_Key = "mongodb://aioverflow:12345@ac-pu6wews-shard-00-00.me4dkct.mongodb.net:27017,ac-pu6wews-shard-00-01.me4dkct.mongodb.net:27017,ac-pu6wews-shard-00-02.me4dkct.mongodb.net:27017/?ssl=true&replicaSet=atlas-jcoztp-shard-0&authSource=admin&retryWrites=true&w=majority"
Data = MongoClient(MongoDB_Key)
EmployeeData = Data['FinalAxisBankHackathon']['EmployeeData']
KRAsData = Data['FinalAxisBankHackathon']['KRAsData']

In [2]:
list(KRAsData.find({}))

[{'_id': ObjectId('64fe10aa5c62d85b9f77c23d'),
  'title': 'KRA1',
  'description': 'enbetqneqtn',
  'kpis': {'onTimeDelivery': 'qtenqtenq',
   'budgetAdherence': 'tente',
   'stakeholderSatisfaction': 'j wj 5yj'},
  'weightage': 0,
  'targetsObjectives': ' yjyytk',
  'timeline': ' wyj yj',
  'performanceMeasurementFrequency': ' wyj wyj 5',
  'responsibilitiesDuties': ['7ktuk57ek', '68;l86lle6'],
  'resourcesRequired': {'budget': 'yj 5yj w',
   'projectManagementSoftware': '45j 46j',
   'crossFunctionalTeam': '64 qj46 '},
  'skillsCompetencies': [' j6q4j 64j'],
  'dependencies': ['6j 64q ', '46j46q j46j'],
  'team': 'w b4w ht ht',
  'KRAID': 'KRA391716'}]

## Using SQL with langchain

In [3]:
!pip install -qU langchain openai google-search-results wikipedia sqlalchemy

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
kor 0.13.0 requires openai<0.28,>=0.27, but you have openai 0.28.0 which is incompatible.
kor 0.13.0 requires pandas<2.0.0,>=1.5.3, but you have pandas 2.1.0 which is incompatible.
promptify 2.0.3 requires openai==0.27.0, but you have openai 0.28.0 which is incompatible.
textbase-client 0.1.2 requires openai<0.28.0,>=0.27.8, but you have openai 0.28.0 which is incompatible.
textbase-client 0.1.2 requires pydantic<3.0.0,>=2.3.0, but you have pydantic 1.10.12 which is incompatible.

In [5]:
from langchain.llms import GooglePalm

llm = GooglePalm(
    model='models/text-bison-001',
    temperature=0,
    max_output_tokens=80000,
    google_api_key='AIzaSyA1fu-ob27CzsJozdr6pHd96t5ziaD87wM'
)

In [7]:
from langchain.callbacks import get_openai_callback

def count_tokens(agent, query):
    with get_openai_callback() as cb:
        result = agent(query)
        print(f'Spent a total of {cb.total_tokens} tokens')

    return result

In [8]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

In [9]:

from sqlalchemy import Column, Integer, String, Table, Date, Float

stocks = Table(
    "stocks",
    metadata_obj,
    Column("obs_id", Integer, primary_key=True),
    Column("stock_ticker", String(4), nullable=False),
    Column("price", Float, nullable=False),
    Column("date", Date, nullable=False),
)

In [10]:

from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:")
metadata_obj.create_all(engine)

In [11]:

from datetime import datetime

observations = [
    [1, 'ABC', 200, datetime(2023, 1, 1)],
    [2, 'ABC', 208, datetime(2023, 1, 2)],
    [3, 'ABC', 232, datetime(2023, 1, 3)],
    [4, 'ABC', 225, datetime(2023, 1, 4)],
    [5, 'ABC', 226, datetime(2023, 1, 5)],
    [6, 'XYZ', 810, datetime(2023, 1, 1)],
    [7, 'XYZ', 803, datetime(2023, 1, 2)],
    [8, 'XYZ', 798, datetime(2023, 1, 3)],
    [9, 'XYZ', 795, datetime(2023, 1, 4)],
    [10, 'XYZ', 791, datetime(2023, 1, 5)],
]

In [12]:

from sqlalchemy import insert

def insert_obs(obs):
    stmt = insert(stocks).values(
    obs_id=obs[0],
    stock_ticker=obs[1],
    price=obs[2],
    date=obs[3]
    )

    with engine.begin() as conn:
        conn.execute(stmt)

In [13]:

for obs in observations:
    insert_obs(obs)

In [14]:
!pip install langchain_experimental -qU

In [15]:

from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

db = SQLDatabase(engine)
sql_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

/Users/achethanreddy/miniconda3/envs/tensorflow/lib/python3.10/site-packages/langchain_experimental/sql/base.py:75: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [16]:

from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    max_iterations=3
)

In [24]:
result = count_tokens(
    agent_executor,
    "What is the multiplication of the ratio between stock"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: stocks
Thought:I should query the schema of the stocks table to see what columns I can use in my query
Action: sql_db_schema
Action Input: stocks
Observation:
CREATE TABLE stocks (
	obs_id INTEGER NOT NULL,
	stock_ticker VARCHAR(4) NOT NULL,
	price FLOAT NOT NULL,
	date DATE NOT NULL,
	PRIMARY KEY (obs_id)
)

/*
3 rows from stocks table:
obs_id	stock_ticker	price	date
1	ABC	200.0	2023-01-01
2	ABC	208.0	2023-01-02
3	ABC	232.0	2023-01-03
*/
Thought:I should write a query to get the multiplication of the ratio between stock prices
Action: sql_db_query
Action Input: SELECT (price - price_lag) * (price_lag - price_lag_lag) FROM stocks ORDER BY obs_id
Observation: Error: (sqlite3.OperationalError) no such column: price_lag
[SQL: SELECT (price - price_lag) * (price_lag - price_lag_lag) FROM stocks ORDER BY obs_id]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:

> Finished chain.
Spent a total of 0 tokens

In [19]:
print(agent_executor.agent.llm_chain.prompt.template)

You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.


sql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.
sql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'
sql_db_list_tables: Input is an empty string, output is a comma separated list of tables in the database.
sql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question

Begin!

Question: {input}
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
{agent_scratchpad}

## Doing Math Operations

In [20]:

from langchain.agents import load_tools

tools = load_tools(
    ["llm-math"],
    llm=llm
)

In [21]:

from langchain.memory import ConversationBufferMemory

memory = ConversationBufferMemory(memory_key="chat_history")

In [22]:

from langchain.agents import initialize_agent

conversational_agent = initialize_agent(
    agent=AgentType.CONVERSATIONAL_REACT_DESCRIPTION,
    tools=tools,
    llm=llm,
    verbose=True,
    max_iterations=3,
    memory=memory,
)

In [23]:

result = count_tokens(
    conversational_agent,
    "What's the result of an investment of $10,000 growing at 8% annually for 5 years with compound interest?"
)

> Entering new AgentExecutor chain...
Thought: Do I need to use a tool? Yes
Action: Calculator
Action Input: 10000*(1.08)^5
Observation: Answer: 14693.280768000006
Thought:No
AI: The result of an investment of $10,000 growing at 8% annually for 5 years with compound interest is $14,693.28.

> Finished chain.
Spent a total of 0 tokens

## Loading Datasets

In [25]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('data_KRA.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute a query to retrieve data (assuming 'tablename' is the actual table name)
cursor.execute('SELECT * FROM RM_KRAS')

# Fetch all the data from the query
data = cursor.fetchall()

# Close the cursor and connection
cursor.close()
conn.close()

# Display the data
for row in data:
    print(row)

(1, 'ETB_MDAB', 'in lakhs', 3565.223244, 100, 2, 3130.668878, 87.8113, 404.7562297, 11.3529, 355.2744963, 9.965, 336.617683, 9.4417, 386.3596777, 10.8369, 413.7227661, 11.6044, 212.1058265, 5.9493, 312.9125137, 8.7768, 306.4131117, 8.5945, 402.5065738, 11.2898, 0, 0, 0, 0, 0, 0)
(1, 'CASA_NOC', 'points', 161.7333528, 100, 2, 134.2174958, 82.9869, 20.55889687, 12.7116, 11.9168369, 7.3682, 12.28623588, 7.5966, 10.05544774, 6.2173, 14.45200721, 8.9357, 14.02001742, 8.6686, 18.92652214, 11.7023, 16.60775107, 10.2686, 15.39378052, 9.518, 0, 0, 0, 0, 0, 0)
(1, 'TD_FD_RTD', 'in lakhs', 25.53171662, 100, 3, 23.81018956, 93.2573, 2.917636917, 11.4275, 2.482601997, 9.7236, 3.264638477, 12.7866, 2.768378501, 10.8429, 2.215233861, 8.6764, 2.380781511, 9.3248, 2.622720058, 10.2724, 2.656702773, 10.4055, 2.501495468, 9.7976, 0, 0, 0, 0, 0, 0)
(1, 'IPG_OCS_LI_GI_MF', 'points', 4425.173177, 100, 1, 3353.241352, 75.7765, 384.3041646, 8.6845, 344.3802522, 7.7823, 290.7958302, 6.5714, 282.4057018, 6.3818, 428.6222739, 9.686, 286.2998542, 6.4698, 510.6826853, 11.5404, 330.7949705, 7.4753, 494.9556198, 11.185, 0, 0, 0, 0, 0, 0)
(1, 'RFR_FOREX_Remittance', 'points', 69.40814831, 100, 2, 57.99515826, 83.5567, 7.941333289, 11.4415, 5.48872696, 7.9079, 7.14890046, 10.2998, 4.343770146, 6.2583, 7.16986172, 10.33, 7.295351653, 10.5108, 5.652252558, 8.1435, 4.826295593, 6.9535, 8.128665881, 11.7114, 0, 0, 0, 0, 0, 0)
(2, 'ETB_MDAB', 'in lakhs', 1441.535467, 100, 2, 1279.9379, 88.7899, 166.5953709, 11.5568, 106.6274954, 7.3968, 137.6277156, 9.5473, 138.3556911, 9.5978, 154.9708288, 10.7504, 147.8381114, 10.2556, 143.2626778, 9.9382, 114.1624013, 7.9195, 170.4976074, 11.8275, 0, 0, 0, 0, 0, 0)
(2, 'CASA_NOC', 'points', 191.2501926, 100, 2, 158.7935049, 83.0292, 17.17044229, 8.978, 15.62169823, 8.1682, 10.5774744, 5.5307, 14.96112007, 7.8228, 18.66697505, 9.7605, 20.05067019, 10.484, 23.74925767, 12.4179, 16.19449256, 8.4677, 21.80137446, 11.3994, 0, 0, 0, 0, 0, 0)
(2, 'TD_FD_RTD', 'in lakhs', 25.05291631, 100, 2, 21.51597064, 85.8821, 2.690683212, 10.74, 2.190501738, 8.7435, 2.132679607, 8.5127, 2.697096758, 10.7656, 2.328944153, 9.2961, 1.646177025, 6.5708, 2.174292501, 8.6788, 2.063683875, 8.2373, 3.59191177, 14.3373, 0, 0, 0, 0, 0, 0)
(2, 'IPG_OCS_LI_GI_MF', 'points', 1162.821031, 100, 2, 1020.547552, 87.7648, 94.96061668, 8.1664, 97.95604365, 8.424, 137.1640432, 11.7958, 118.8414722, 10.2201, 122.4659853, 10.5318, 63.68538223, 5.4768, 145.7131034, 12.531, 95.95250302, 8.2517, 143.8084025, 12.3672, 0, 0, 0, 0, 0, 0)
(2, 'RFR_FOREX_Remittance', 'points', 63.86485836, 100, 2, 53.01728444, 83.0148, 7.461906186, 11.6839, 6.24496131, 9.7784, 5.417655935, 8.483, 4.997744491, 7.8255, 6.271976145, 9.8207, 4.601335315, 7.2048, 5.832266595, 9.1322, 3.428265597, 5.368, 8.761172864, 13.7183, 0, 0, 0, 0, 0, 0)
(3, 'ETB_MDAB', 'in lakhs', 3312.481999, 100, 2, 2699.868266, 81.5059, 277.2812432, 8.3708, 292.9658454, 8.8443, 236.7497134, 7.1472, 288.9213049, 8.7222, 307.0836437, 9.2705, 326.905536, 9.8689, 339.5592172, 10.2509, 240.231132, 7.2523, 390.1706297, 11.7788, 0, 0, 0, 0, 0, 0)
(3, 'CASA_NOC', 'points', 142.7380052, 100, 2, 124.4467008, 87.1854, 17.84367803, 12.501, 12.38066636, 8.6737, 10.84737471, 7.5995, 10.30254374, 7.2178, 14.52359203, 10.175, 12.40064968, 8.6877, 18.13686189, 12.7064, 14.75682593, 10.3384, 13.25450842, 9.2859, 0, 0, 0, 0, 0, 0)
(3, 'TD_FD_RTD', 'in lakhs', 24.00813058, 100, 2, 21.09167089, 87.8522, 3.023752022, 12.5947, 2.200993387, 9.1677, 1.554862569, 6.4764, 2.3129433, 9.634, 2.825708953, 11.7698, 2.210260526, 9.2063, 2.230307315, 9.2898, 2.531537329, 10.5445, 2.201305493, 9.169, 0, 0, 0, 0, 0, 0)
(3, 'IPG_OCS_LI_GI_MF', 'points', 4994.906583, 100, 3, 4640.32316, 92.9011, 515.9488755, 10.3295, 417.1496233, 8.3515, 336.1122589, 6.7291, 529.3801793, 10.5984, 527.4921046, 10.5606, 394.0781498, 7.8896, 634.9175605, 12.7113, 547.8463489, 10.9681, 737.3980588, 14.763, 0, 0, 0, 0, 0, 0)
(3, 'RFR_FOREX_Remittance', 'points', 48.86277278, 100, 2, 41.76819135, 85.4806, 6.042468208, 12.3662, 4.158710591, 8.511, 6.150308347, 12.5869, 3.840760529, 7.8603, 4.227802552, 8.6524, 3.314801643, 6.7839, 5.296187079, 10.8389, 2.609760694, 5.341, 6.127391707, 12.54, 0, 0, 0, 0, 0, 0)
(4, 'ETB_MDAB', 'in lakhs', 2760.287747, 100, 2, 2456.112318, 88.9803, 329.5507541, 11.939, 227.3014151, 8.2347, 337.5583489, 12.2291, 197.1231892, 7.1414, 271.5764306, 9.8387, 272.6557031, 9.8778, 316.9528008, 11.4826, 235.9079923, 8.5465, 267.4856841, 9.6905, 0, 0, 0, 0, 0, 0)
(4, 'CASA_NOC', 'points', 187.7690054, 100, 1, 144.0263379, 76.704, 20.17465302, 10.7444, 14.8369435, 7.9017, 15.33265367, 8.1657, 14.58138988, 7.7656, 16.43673543, 8.7537, 11.00251264, 5.8596, 16.08598292, 8.5669, 17.33539789, 9.2323, 18.24006895, 9.7141, 0, 0, 0, 0, 0, 0)
(4, 'TD_FD_RTD', 'in lakhs', 24.86299406, 100, 2, 21.87272176, 87.973, 2.044235372, 8.222, 2.13157907, 8.5733, 2.113255043, 8.4996, 2.362581148, 9.5024, 2.557432432, 10.2861, 2.422128018, 9.7419, 3.169584209, 12.7482, 1.667536149, 6.7069, 3.404390325, 13.6926, 0, 0, 0, 0, 0, 0)
(4, 'IPG_OCS_LI_GI_MF', 'points', 3770.136793, 100, 1, 2955.221725, 78.385, 404.4942064, 10.7289, 371.079484, 9.8426, 387.5474415, 10.2794, 232.0971613, 6.1562, 325.3514948, 8.6297, 199.8587215, 5.3011, 369.4093134, 9.7983, 306.2369013, 8.1227, 359.147001, 9.5261, 0, 0, 0, 0, 0, 0)
(4, 'RFR_FOREX_Remittance', 'points', 44.54751033, 100, 2, 39.42735314, 88.5063, 5.281419182, 11.8557, 3.236777553, 7.2659, 4.53711938, 10.1849, 4.444549653, 9.9771, 4.267785132, 9.5803, 4.200785677, 9.4299, 5.079485318, 11.4024, 2.922717605, 6.5609, 5.456713635, 12.2492, 0, 0, 0, 0, 0, 0)
(5, 'ETB_MDAB', 'in lakhs', 2235.039186, 100, 2, 1939.978253, 86.7984, 242.233547, 10.838, 193.2839538, 8.6479, 208.7683052, 9.3407, 160.4333478, 7.1781, 200.3265622, 8.963, 164.320081, 7.352, 290.1393769, 12.9814, 173.4949168, 7.7625, 306.9781621, 13.7348, 0, 0, 0, 0, 0, 0)
(5, 'CASA_NOC', 'points', 98.91342845, 100, 2, 79.21284091, 80.083, 9.042665629, 9.142, 7.803774938, 7.8895, 5.423621109, 5.4832, 10.56553677, 10.6816, 8.659573921, 8.7547, 9.057106989, 9.1566, 9.573138346, 9.6783, 8.899241158, 8.997, 10.18818204, 10.3001, 0, 0, 0, 0, 0, 0)
(5, 'TD_FD_RTD', 'in lakhs', 25.02777458, 100, 2, 22.50084532, 89.9035, 2.58181517, 10.3158, 2.065642347, 8.2534, 2.717941236, 10.8597, 2.35373706, 9.4045, 2.119727368, 8.4695, 1.395824016, 5.5771, 3.097362299, 12.3757, 2.726650902, 10.8945, 3.442144921, 13.7533, 0, 0, 0, 0, 0, 0)
(5, 'IPG_OCS_LI_GI_MF', 'points', 1809.083882, 100, 2, 1618.285232, 89.4533, 168.3406825, 9.3053, 136.1715529, 7.5271, 222.9424522, 12.3235, 153.665394, 8.4941, 192.1427991, 10.621, 186.1040771, 10.2872, 173.4676262, 9.5887, 194.0296736, 10.7253, 191.4209746, 10.5811, 0, 0, 0, 0, 0, 0)
(5, 'RFR_FOREX_Remittance', 'points', 73.16521519, 100, 1, 56.0547248, 76.6139, 6.186411605, 8.4554, 6.270771098, 8.5707, 4.534487377, 6.1976, 5.544533172, 7.5781, 6.141927154, 8.3946, 5.359059352, 7.3246, 7.419903968, 10.1413, 6.147853537, 8.4027, 8.449777537, 11.5489, 0, 0, 0, 0, 0, 0)
(6, 'ETB_MDAB', 'in lakhs', 4544.373121, 100, 3, 4128.403927, 90.8465, 568.8464498, 12.5176, 362.9227262, 7.9862, 477.9362655, 10.5171, 399.0095931, 8.7803, 508.8698133, 11.1978, 370.0892026, 8.1439, 499.0585118, 10.9819, 469.9427132, 10.3412, 471.7286518, 10.3805, 0, 0, 0, 0, 0, 0)
(6, 'CASA_NOC', 'points', 194.9514422, 100, 2, 172.8589599, 88.6677, 16.84107529, 8.6386, 17.88309074, 9.1731, 20.98106411, 10.7622, 17.20894866, 8.8273, 21.70140969, 11.1317, 20.14101835, 10.3313, 20.43383541, 10.4815, 10.52523341, 5.3989, 27.14328425, 13.9231, 0, 0, 0, 0, 0, 0)
(6, 'TD_FD_RTD', 'in lakhs', 25.34334005, 100, 3, 22.81369456, 90.0185, 2.233027035, 8.8111, 2.385264479, 9.4118, 2.134416099, 8.422, 2.210218029, 8.7211, 2.901077479, 11.4471, 2.586439912, 10.2056, 2.942767273, 11.6116, 2.757482114, 10.8805, 2.663002142, 10.5077, 0, 0, 0, 0, 0, 0)
(6, 'IPG_OCS_LI_GI_MF', 'points', 2969.50449, 100, 2, 2545.316713, 85.7152, 334.5918879, 11.2676, 271.9264347, 9.1573, 351.9694282, 11.8528, 280.9834234, 9.4623, 286.7056585, 9.655, 175.9342325, 5.9247, 311.836575, 10.5013, 223.8946995, 7.5398, 307.4743729, 10.3544, 0, 0, 0, 0, 0, 0)
(6, 'RFR_FOREX_Remittance', 'points', 61.54854244, 100, 1, 48.27584546, 78.4354, 5.899058502, 9.5844, 5.312870183, 8.632, 5.969900874, 9.6995, 3.853246499, 6.2605, 5.165707618, 8.3929, 5.215685035, 8.4741, 7.22124429, 11.7326, 3.988099356, 6.4796, 5.650033099, 9.1798, 0, 0, 0, 0, 0, 0)
(7, 'ETB_MDAB', 'in lakhs', 1536.291516, 100, 2, 1324.160383, 86.192, 134.2580519, 8.7391, 122.6098896, 7.9809, 153.1651916, 9.9698, 110.3687188, 7.1841, 182.8386622, 11.9013, 100.1754246, 6.5206, 167.6001866, 10.9094, 148.2936112, 9.6527, 204.850647, 13.3341, 0, 0, 0, 0, 0, 0)
(7, 'CASA_NOC', 'points', 115.6457968, 100, 2, 96.17717385, 83.1653, 13.18292696, 11.3994, 11.26575094, 9.7416, 6.880693618, 5.9498, 8.729754263, 7.5487, 13.44208919, 11.6235, 12.03838051, 10.4097, 11.82108206, 10.2218, 6.591579126, 5.6998, 12.22491718, 10.571, 0, 0, 0, 0, 0, 0)
(7, 'TD_FD_RTD', 'in lakhs', 25.56076659, 100, 1, 19.91797176, 77.924, 2.213690191, 8.6605, 2.131256718, 8.338, 1.482652266, 5.8005, 2.09997034, 8.2156, 2.854677534, 11.1682, 1.572012706, 6.1501, 2.167348521, 8.4792, 1.826802427, 7.1469, 3.569561054, 13.965, 0, 0, 0, 0, 0, 0)
(7, 'IPG_OCS_LI_GI_MF', 'points', 967.3483551, 100, 2, 821.4664191, 84.9194, 90.31260978, 9.3361, 96.68356605, 9.9947, 110.698509, 11.4435, 84.56172381, 8.7416, 81.75738093, 8.4517, 78.89693184, 8.156, 84.99703057, 8.7866, 88.8286974, 9.1827, 104.7299697, 10.8265, 0, 0, 0, 0, 0, 0)
(7, 'RFR_FOREX_Remittance', 'points', 60.44513439, 100, 2, 50.77862761, 84.0078, 7.545305681, 12.4829, 5.881855582, 9.7309, 3.416963447, 5.653, 4.218224149, 6.9786, 5.801584444, 9.5981, 6.501357765, 10.7558, 5.054663918, 8.3624, 5.715268792, 9.4553, 6.643403831, 10.9908, 0, 0, 0, 0, 0, 0)
(8, 'ETB_MDAB', 'in lakhs', 4378.741252, 100, 3, 4194.06784, 95.7825, 474.4935383, 10.8363, 398.820132, 9.1081, 498.4934191, 11.3844, 477.5893084, 10.907, 499.0889279, 11.398, 474.9401699, 10.8465, 550.0530973, 12.5619, 256.5241775, 5.8584, 564.0650693, 12.8819, 0, 0, 0, 0, 0, 0)
(8, 'CASA_NOC', 'points', 117.4309525, 100, 2, 96.95111181, 82.5601, 12.11100642, 10.3133, 10.80035956, 9.1972, 11.082781, 9.4377, 10.23739558, 8.7178, 12.25415476, 10.4352, 6.258952337, 5.3299, 14.49849512, 12.3464, 6.38014108, 5.4331, 13.32782595, 11.3495, 0, 0, 0, 0, 0, 0)
(8, 'TD_FD_RTD', 'in lakhs', 24.18556763, 100, 2, 19.49042339, 80.587, 2.173750447, 8.9878, 2.033933681, 8.4097, 2.221541129, 9.1854, 2.019857681, 8.3515, 2.205747953, 9.1201, 2.595304891, 10.7308, 1.992213577, 8.2372, 1.241009846, 5.1312, 3.00706418, 12.4333, 0, 0, 0, 0, 0, 0)
(8, 'IPG_OCS_LI_GI_MF', 'points', 1786.439805, 100, 2, 1592.741496, 89.1573, 194.194939, 10.8705, 142.2792118, 7.9644, 219.585608, 12.2918, 194.2128034, 10.8715, 203.9417546, 11.4161, 127.1605718, 7.1181, 147.6260262, 8.2637, 169.9886796, 9.5155, 193.7519019, 10.8457, 0, 0, 0, 0, 0, 0)
(8, 'RFR_FOREX_Remittance', 'points', 74.92383051, 100, 2, 63.4248207, 84.6524, 8.60687503, 11.4875, 6.36298123, 8.4926, 4.494006278, 5.9981, 5.587744356, 7.4579, 6.875385307, 9.1765, 4.115266315, 5.4926, 9.332961871, 12.4566, 8.054087008, 10.7497, 9.995513305, 13.3409, 0, 0, 0, 0, 0, 0)
(9, 'ETB_MDAB', 'in lakhs', 2860.298872, 100, 2, 2334.930616, 81.6324, 363.9844727, 12.7254, 211.5391237, 7.3957, 175.4593137, 6.1343, 274.1024409, 9.583, 244.6499434, 8.5533, 191.7973409, 6.7055, 353.5043376, 12.359, 208.3527507, 7.2843, 311.5408928, 10.8919, 0, 0, 0, 0, 0, 0)
(9, 'CASA_NOC', 'points', 181.9140409, 100, 2, 150.3279422, 82.6368, 17.5437901, 9.644, 17.36296755, 9.5446, 11.51625027, 6.3306, 14.46380348, 7.9509, 17.68058946, 9.7192, 17.60127494, 9.6756, 22.61628122, 12.4324, 11.5671862, 6.3586, 19.97579892, 10.9809, 0, 0, 0, 0, 0, 0)
(9, 'TD_FD_RTD', 'in lakhs', 23.21658028, 100, 2, 19.98752543, 86.0916, 2.781485617, 11.9806, 1.705954319, 7.348, 1.208678386, 5.2061, 2.308076329, 9.9415, 2.435976469, 10.4924, 1.613668412, 6.9505, 2.017752992, 8.691, 2.479275392, 10.6789, 3.436657513, 14.8026, 0, 0, 0, 0, 0, 0)
(9, 'IPG_OCS_LI_GI_MF', 'points', 1789.002972, 100, 2, 1568.851844, 87.6942, 193.8742521, 10.837, 153.4177389, 8.5756, 120.380221, 6.7289, 190.5735416, 10.6525, 188.3372879, 10.5275, 193.7543889, 10.8303, 150.3030847, 8.4015, 191.7524946, 10.7184, 186.4588348, 10.4225, 0, 0, 0, 0, 0, 0)
(9, 'RFR_FOREX_Remittance', 'points', 38.06692246, 100, 2, 30.77676421, 80.8491, 4.494904137, 11.8079, 3.016727471, 7.9248, 2.577777788, 6.7717, 3.256625216, 8.555, 3.968134064, 10.4241, 3.723744422, 9.7821, 3.851991884, 10.119, 2.024398936, 5.318, 3.862460287, 10.1465, 0, 0, 0, 0, 0, 0)
(10, 'ETB_MDAB', 'in lakhs', 4396.314735, 100, 2, 3839.85999, 87.3427, 519.3234707, 11.8127, 344.7765868, 7.8424, 464.096965, 10.5565, 464.0046424, 10.5544, 448.4153103, 10.1998, 283.6985862, 6.4531, 541.9029432, 12.3263, 324.70741, 7.3859, 448.9340755, 10.2116, 0, 0, 0, 0, 0, 0)
(10, 'CASA_NOC', 'points', 179.0511591, 100, 3, 162.6568769, 90.8438, 17.77333426, 9.9264, 13.85712731, 7.7392, 11.67592608, 6.521, 18.69831254, 10.443, 20.94934372, 11.7002, 17.61236726, 9.8365, 20.00699747, 11.1739, 15.88631409, 8.8725, 26.19715414, 14.6311, 0, 0, 0, 0, 0, 0)
(10, 'TD_FD_RTD', 'in lakhs', 25.41099799, 100, 2, 21.4473397, 84.4018, 2.124613542, 8.361, 1.897413809, 7.4669, 1.509794446, 5.9415, 2.183668701, 8.5934, 2.906941937, 11.4397, 2.437702448, 9.5931, 2.226333767, 8.7613, 2.724211451, 10.7206, 3.436659601, 13.5243, 0, 0, 0, 0, 0, 0)
(10, 'IPG_OCS_LI_GI_MF', 'points', 2999.902435, 100, 2, 2529.859722, 84.3314, 245.0410306, 8.1683, 220.2618365, 7.3423, 354.8524592, 11.8288, 235.5073407, 7.8505, 245.7610072, 8.1923, 206.5822814, 6.8863, 288.2726246, 9.6094, 305.3300698, 10.178, 428.2510721, 14.2755, 0, 0, 0, 0, 0, 0)
(10, 'RFR_FOREX_Remittance', 'points', 56.3068215, 100, 3, 51.07073756, 90.7008, 5.98586558, 10.6308, 4.141760869, 7.3557, 6.93733825, 12.3206, 6.09127195, 10.818, 6.03440206, 10.717, 4.573746804, 8.1229, 5.398416511, 9.5875, 4.863614321, 8.6377, 7.044321211, 12.5106, 0, 0, 0, 0, 0, 0)
(11, 'ETB_MDAB', 'in lakhs', 2126.985518, 100, 3, 2004.57112, 94.2447, 247.9001621, 11.655, 199.453813, 9.3773, 224.2927499, 10.5451, 199.8387974, 9.3954, 198.2180344, 9.3192, 199.6814004, 9.388, 233.7429465, 10.9894, 207.9170884, 9.7752, 293.5261285, 13.8001, 0, 0, 0, 0, 0, 0)
(11, 'CASA_NOC', 'points', 177.5208195, 100, 2, 154.7493364, 87.1725, 17.18650062, 9.6814, 14.75908093, 8.314, 19.73569959, 11.1174, 15.53236162, 8.7496, 19.27698579, 10.859, 11.68743819, 6.5837, 19.37550984, 10.9145, 17.1659082, 9.6698, 20.02985159, 11.2831, 0, 0, 0, 0, 0, 0)
(11, 'TD_FD_RTD', 'in lakhs', 22.35424155, 100, 2, 18.92025003, 84.6383, 2.781247671, 12.4417, 1.734778561, 7.7604, 1.889022828, 8.4504, 2.125754246, 9.5094, 2.444056291, 10.9333, 1.649586547, 7.3793, 2.142162259, 9.5828, 1.502316803, 6.7205, 2.651324819, 11.8605, 0, 0, 0, 0, 0, 0)
(11, 'IPG_OCS_LI_GI_MF', 'points', 1187.888034, 100, 2, 973.1939023, 81.9264, 124.8280262, 10.5084, 92.77643123, 7.8102, 117.5890365, 9.899, 105.605622, 8.8902, 110.3274769, 9.2877, 61.45538744, 5.1735, 114.3888661, 9.6296, 73.80110778, 6.2128, 172.4219481, 14.515, 0, 0, 0, 0, 0, 0)
(11, 'RFR_FOREX_Remittance', 'points', 49.21305524, 100, 1, 38.35601548, 77.9387, 6.046069902, 12.2855, 4.237539334, 8.6106, 3.767210166, 7.6549, 3.703676111, 7.5258, 5.224605583, 10.6163, 2.591805554, 5.2665, 4.149497179, 8.4317, 3.439057513, 6.9881, 5.196554142, 10.5593, 0, 0, 0, 0, 0, 0)
(12, 'ETB_MDAB', 'in lakhs', 2915.981096, 100, 2, 2380.531151, 81.6374, 288.8250116, 9.9049, 289.3090644, 9.9215, 184.2812573, 6.3197, 313.899533, 10.7648, 289.381964, 9.924, 148.7850194, 5.1024, 284.0194747, 9.7401, 265.3892715, 9.1012, 316.6405553, 10.8588, 0, 0, 0, 0, 0, 0)
(12, 'CASA_NOC', 'points', 117.5525716, 100, 2, 102.2360593, 86.9705, 12.82592598, 10.9108, 10.33263594, 8.7898, 15.25726582, 12.9791, 8.851003326, 7.5294, 12.7832544, 10.8745, 6.076174873, 5.1689, 11.32254614, 9.6319, 10.36778416, 8.8197, 14.41946864, 12.2664, 0, 0, 0, 0, 0, 0)
(12, 'TD_FD_RTD', 'in lakhs', 25.02764526, 100, 1, 19.7097712, 78.752, 2.127950511, 8.5024, 2.499836292, 9.9883, 2.07694417, 8.2986, 2.33160046, 9.3161, 2.136860352, 8.538, 2.077795109, 8.302, 2.531321069, 10.1141, 1.27713571, 5.1029, 2.650327522, 10.5896, 0, 0, 0, 0, 0, 0)
(12, 'IPG_OCS_LI_GI_MF', 'points', 1018.428528, 100, 2, 910.9323784, 89.4449, 115.9154982, 11.3818, 80.15236201, 7.8702, 104.2656943, 10.2379, 108.110262, 10.6154, 96.93504572, 9.5181, 105.7699132, 10.3856, 94.81264067, 9.3097, 105.9247143, 10.4008, 99.04624806, 9.7254, 0, 0, 0, 0, 0, 0)
(12, 'RFR_FOREX_Remittance', 'points', 33.98922177, 100, 2, 30.05391568, 88.4219, 4.157221715, 12.231, 2.710300544, 7.974, 2.556533305, 7.5216, 3.615229584, 10.6364, 2.902781507, 8.5403, 3.197162157, 9.4064, 4.15174945, 12.2149, 2.505005644, 7.37, 4.257931779, 12.5273, 0, 0, 0, 0, 0, 0)
(13, 'ETB_MDAB', 'in lakhs', 3254.378877, 100, 3, 2942.072408, 90.4035, 395.7161995, 12.1595, 289.7991846, 8.9049, 205.8459727, 6.3252, 353.6240632, 10.8661, 265.0854314, 8.1455, 339.5033132, 10.4322, 361.9259837, 11.1212, 341.7423259, 10.501, 388.8299338, 11.9479, 0, 0, 0, 0, 0, 0)
(13, 'CASA_NOC', 'points', 183.4274292, 100, 2, 163.6343256, 89.2093, 19.67479291, 10.7262, 16.08071586, 8.7668, 20.52186078, 11.188, 16.1478503, 8.8034, 21.77907238, 11.8734, 12.71500596, 6.9319, 16.70712053, 9.1083, 17.17852903, 9.3653, 22.82937784, 12.446, 0, 0, 0, 0, 0, 0)
(13, 'TD_FD_RTD', 'in lakhs', 24.60686053, 100, 3, 23.54689541, 95.6924, 3.12450533, 12.6977, 2.424169472, 9.8516, 2.137844043, 8.688, 2.705450495, 10.9947, 2.072783504, 8.4236, 1.62636584, 6.6094, 3.170421731, 12.8843, 2.647230663, 10.7581, 3.638124329, 14.785, 0, 0, 0, 0, 0, 0)
(13, 'IPG_OCS_LI_GI_MF', 'points', 6172.36346, 100, 2, 5013.335567, 81.2223, 588.3311679, 9.5317, 439.9228609, 7.1273, 479.3457463, 7.766, 550.9636795, 8.9263, 587.6213461, 9.5202, 521.4659546, 8.4484, 665.5104006, 10.7821, 466.4146449, 7.5565, 713.7597658, 11.5638, 0, 0, 0, 0, 0, 0)
(13, 'RFR_FOREX_Remittance', 'points', 31.82521875, 100, 2, 25.76926152, 80.9712, 3.021963646, 9.4955, 2.803706296, 8.8097, 3.375032623, 10.6049, 3.115497964, 9.7894, 2.686525841, 8.4415, 2.172484908, 6.8263, 2.849089058, 8.9523, 2.186265227, 6.8696, 3.558695961, 11.182, 0, 0, 0, 0, 0, 0)
(14, 'ETB_MDAB', 'in lakhs', 861.6959225, 100, 1, 685.5661376, 79.5601, 87.47333818, 10.1513, 64.21271845, 7.4519, 57.30277885, 6.65, 64.56256699, 7.4925, 73.88697857, 8.5746, 90.93132392, 10.5526, 97.43109626, 11.3069, 59.192478, 6.8693, 90.57285841, 10.511, 0, 0, 0, 0, 0, 0)
(14, 'CASA_NOC', 'points', 174.6215994, 100, 2, 150.4134578, 86.1368, 18.49312586, 10.5904, 13.32956517, 7.6334, 21.93456834, 12.5612, 12.2198449, 6.9979, 17.14033233, 9.8157, 10.35977563, 5.9327, 21.83346244, 12.5033, 14.81280103, 8.4828, 20.28998212, 11.6194, 0, 0, 0, 0, 0, 0)
(14, 'TD_FD_RTD', 'in lakhs', 26.16008072, 100, 1, 20.8321094, 79.6332, 3.223052745, 12.3205, 2.041558859, 7.8041, 1.437234835, 5.494, 2.870441017, 10.9726, 2.608473969, 9.9712, 1.922556652, 7.3492, 2.152503762, 8.2282, 1.73383783, 6.6278, 2.842449731, 10.8656, 0, 0, 0, 0, 0, 0)
(14, 'IPG_OCS_LI_GI_MF', 'points', 4502.154526, 100, 2, 3993.645177, 88.7052, 458.238292, 10.1782, 380.1394174, 8.4435, 377.8748337, 8.3932, 450.2064483, 9.9998, 432.0312505, 9.5961, 376.9383855, 8.3724, 473.8022402, 10.5239, 483.3738207, 10.7365, 561.0404884, 12.4616, 0, 0, 0, 0, 0, 0)
(14, 'RFR_FOREX_Remittance', 'points', 53.39051755, 100, 2, 44.14872574, 82.6902, 4.864677007, 9.1115, 5.159979959, 9.6646, 5.53350002, 10.3642, 4.070866792, 7.6247, 5.172259778, 9.6876, 4.42249674, 8.2833, 5.413157793, 10.1388, 4.102847712, 7.6846, 5.408939942, 10.1309, 0, 0, 0, 0, 0, 0)

In [28]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('data_KRA.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute a query to retrieve data (assuming 'tablename' is the actual table name)
cursor.execute('SELECT * FROM RM_KRAS')

# Fetch all the data from the query
data = cursor.fetchall()

# Get column names from the cursor description
columns = [col[0] for col in cursor.description]

# Create a DataFrame from the fetched data
df = pd.DataFrame(data, columns=columns)

# Close the cursor and connection
cursor.close()
conn.close()

# Display the DataFrame
df.head()

,Employee_ID,TARGET,Unit,Target_FY22_23_ABS,Target_FY22_23_PCT,Rating,CURR_COMPLETION_ABS,CURR_COMPLETION_PCT,APR_COMPLETION_ABS,APR_COMPLETION_PCT,...,NOV_COMPLETION_ABS,NOV_COMPLETION_PCT,DEC_COMPLETION_ABS,DEC_COMPLETION_PCT,JAN_COMPLETION_ABS,JAN_COMPLETION_PCT,FEB_COMPLETION_ABS,FEB_COMPLETION_PCT,MAR_COMPLETION_ABS,MAR_COMPLETION_PCT
0,1,ETB_MDAB,in lakhs,3565.223244,100,2,3130.668878,87.8113,404.756230,11.3529,...,306.413112,8.5945,402.506574,11.2898,0,0,0,0,0,0
1,1,CASA_NOC,points,161.733353,100,2,134.217496,82.9869,20.558897,12.7116,...,16.607751,10.2686,15.393781,9.5180,0,0,0,0,0,0
2,1,TD_FD_RTD,in lakhs,25.531717,100,3,23.810190,93.2573,2.917637,11.4275,...,2.656703,10.4055,2.501495,9.7976,0,0,0,0,0,0
3,1,IPG_OCS_LI_GI_MF,points,4425.173177,100,1,3353.241352,75.7765,384.304165,8.6845,...,330.794970,7.4753,494.955620,11.1850,0,0,0,0,0,0
4,1,RFR_FOREX_Remittance,points,69.408148,100,2,57.995158,83.5567,7.941333,11.4415,...,4.826296,6.9535,8.128666,11.7114,0,0,0,0,0,0

In [29]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('data_KRA.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute a query to retrieve data (assuming 'tablename' is the actual table name)
cursor.execute('SELECT * FROM RM_KRAS')

# Fetch all the data from the query
data = cursor.fetchall()

# Get column names from the cursor description
columns = [col[0] for col in cursor.description]

# Create a DataFrame from the fetched data
df = pd.DataFrame(data, columns=columns)

# Close the cursor and connection
cursor.close()
conn.close()

# Display the DataFrame
df.head()

,Employee_ID,TARGET,Unit,Target_FY22_23_ABS,Target_FY22_23_PCT,Rating,CURR_COMPLETION_ABS,CURR_COMPLETION_PCT,APR_COMPLETION_ABS,APR_COMPLETION_PCT,...,NOV_COMPLETION_ABS,NOV_COMPLETION_PCT,DEC_COMPLETION_ABS,DEC_COMPLETION_PCT,JAN_COMPLETION_ABS,JAN_COMPLETION_PCT,FEB_COMPLETION_ABS,FEB_COMPLETION_PCT,MAR_COMPLETION_ABS,MAR_COMPLETION_PCT
0,1,ETB_MDAB,in lakhs,3565.223244,100,2,3130.668878,87.8113,404.756230,11.3529,...,306.413112,8.5945,402.506574,11.2898,0,0,0,0,0,0
1,1,CASA_NOC,points,161.733353,100,2,134.217496,82.9869,20.558897,12.7116,...,16.607751,10.2686,15.393781,9.5180,0,0,0,0,0,0
2,1,TD_FD_RTD,in lakhs,25.531717,100,3,23.810190,93.2573,2.917637,11.4275,...,2.656703,10.4055,2.501495,9.7976,0,0,0,0,0,0
3,1,IPG_OCS_LI_GI_MF,points,4425.173177,100,1,3353.241352,75.7765,384.304165,8.6845,...,330.794970,7.4753,494.955620,11.1850,0,0,0,0,0,0
4,1,RFR_FOREX_Remittance,points,69.408148,100,2,57.995158,83.5567,7.941333,11.4415,...,4.826296,6.9535,8.128666,11.7114,0,0,0,0,0,0

## Implementing LangChain for multi-ple tables:

In [43]:
from sqlalchemy import create_engine, MetaData

# Create engines for both databases
engine = create_engine("sqlite:///data_KRA.sqlite")

In [45]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

db = SQLDatabase(engine)
sql_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

In [58]:

from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    max_iterations=5,
    handle_parsing_errors=True
)

In [54]:
agent_executor?

In [60]:
result = count_tokens(
    agent_executor,
    "I want to look at the performance of employees in my branch in accordance to the relation manager"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: Customers, Customers_Employees, Employees, Persona, Product_Holding, RM_KRAs, contacthistory
Thought:The Customers_Employees table has the relation between employees and their branch.  The RM_KRAs table has the KRAs for each relation manager.  I can join these two tables to get the KRAs for each employee in my branch.
Action: sql_db_schema
Action Input: Customers_Employees, RM_KRAs
Observation:
CREATE TABLE "Customers_Employees" (
	"Cust_ID" INTEGER,
	"RM" INTEGER,
	"ACCT_BAL" INTEGER,
	"ACCT_BAL_FY_START" INTEGER
)

/*
3 rows from Customers_Employees table:
Cust_ID	RM	ACCT_BAL	ACCT_BAL_FY_START
0	4	2786773	2858858
1	50	2644716	105297
2	1	2413518	4150547
*/


CREATE TABLE "RM_KRAs" (
	"Employee_ID" INTEGER,
	"TARGET" TEXT,
	"Unit" TEXT,
	"Target_FY22_23_ABS" REAL,
	"Target_FY22_23_PCT" INTEGER,
	"Rating" INTEGER,
	"CURR_COMPLETION_ABS" REAL,
	"CURR_COMPLETION_PCT" REAL,
	"APR_COMPLETION_ABS" REAL,
	"APR_COMPLETION_PCT" REAL,
	"MAY_COMPLETION_ABS" REAL,
	"MAY_COMPLETION_PCT" REAL,
	"JUN_COMPLETION_ABS" REAL,
	"JUN_COMPLETION_PCT" REAL,
	"JUL_COMPLETION_ABS" REAL,
	"JUL_COMPLETION_PCT" REAL,
	"AUG_COMPLETION_ABS" REAL,
	"AUG_COMPLETION_PCT" REAL,
	"SEP_COMPLETION_ABS" REAL,
	"SEP_COMPLETION_PCT" REAL,
	"OCT_COMPLETION_ABS" REAL,
	"OCT_COMPLETION_PCT" REAL,
	"NOV_COMPLETION_ABS" REAL,
	"NOV_COMPLETION_PCT" REAL,
	"DEC_COMPLETION_ABS" REAL,
	"DEC_COMPLETION_PCT" REAL,
	"JAN_COMPLETION_ABS" INTEGER,
	"JAN_COMPLETION_PCT" INTEGER,
	"FEB_COMPLETION_ABS" INTEGER,
	"FEB_COMPLETION_PCT" INTEGER,
	"MAR_COMPLETION_ABS" INTEGER,
	"MAR_COMPLETION_PCT" INTEGER
)

/*
3 rows from RM_KRAs table:
Employee_ID	TARGET	Unit	Target_FY22_23_ABS	Target_FY22_23_PCT	Rating	CURR_COMPLETION_ABS	CURR_COMPLETION_PCT	APR_COMPLETION_ABS	APR_COMPLETION_PCT	MAY_COMPLETION_ABS	MAY_COMPLETION_PCT	JUN_COMPLETION_ABS	JUN_COMPLETION_PCT	JUL_COMPLETION_ABS	JUL_COMPLETION_PCT	AUG_COMPLETION_ABS	AUG_COMPLETION_PCT	SEP_COMPLETION_ABS	SEP_COMPLETION_PCT	OCT_COMPLETION_ABS	OCT_COMPLETION_PCT	NOV_COMPLETION_ABS	NOV_COMPLETION_PCT	DEC_COMPLETION_ABS	DEC_COMPLETION_PCT	JAN_COMPLETION_ABS	JAN_COMPLETION_PCT	FEB_COMPLETION_ABS	FEB_COMPLETION_PCT	MAR_COMPLETION_ABS	MAR_COMPLETION_PCT
1	ETB_MDAB	in lakhs	3565.223244	100	2	3130.668878	87.8113	404.7562297	11.3529	355.2744963	9.965	336.617683	9.4417	386.3596777	10.8369	413.7227661	11.6044	212.1058265	5.9493	312.9125137	8.7768	306.4131117	8.5945	402.5065738	11.2898	0	0	0	0	0	0
1	CASA_NOC	points	161.7333528	100	2	134.2174958	82.9869	20.55889687	12.7116	11.9168369	7.3682	12.28623588	7.5966	10.05544774	6.2173	14.45200721	8.9357	14.02001742	8.6686	18.92652214	11.7023	16.60775107	10.2686	15.39378052	9.518	0	0	0	0	0	0
1	TD_FD_RTD	in lakhs	25.53171662	100	3	23.81018956	93.2573	2.917636917	11.4275	2.482601997	9.7236	3.264638477	12.7866	2.768378501	10.8429	2.215233861	8.6764	2.380781511	9.3248	2.622720058	10.2724	2.656702773	10.4055	2.501495468	9.7976	0	0	0	0	0	0
*/
Thought:I can also join the Customers_Employees table to the RM_KRAs table to get the KRAs for each employee in my branch.
Action: sql_db_query
Action Input: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1
Observation: Error: (sqlite3.OperationalError) no such column: Employees.Employee_ID
[SQL: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:I need to join the Employees table to the Customers_Employees table on the RM column.
Action: sql_db_query
Action Input: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1
Observation: Error: (sqlite3.OperationalError) no such column: Employees.Employee_ID
[SQL: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:I need to use the Employees.Employee_ID column in the join.
Action: sql_db_query
Action Input: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1
Observation: Error: (sqlite3.OperationalError) no such column: Employees.Employee_ID
[SQL: SELECT Employees.Employee_ID, Employees.Name, RM_KRAs.TARGET, RM_KRAs.Unit, RM_KRAs.Target_FY22_23_ABS, RM_KRAs.Target_FY22_23_PCT, RM_KRAs.Rating, RM_KRAs.CURR_COMPLETION_ABS, RM_KRAs.CURR_COMPLETION_PCT, RM_KRAs.APR_COMPLETION_ABS, RM_KRAs.APR_COMPLETION_PCT, RM_KRAs.MAY_COMPLETION_ABS, RM_KRAs.MAY_COMPLETION_PCT, RM_KRAs.JUN_COMPLETION_ABS, RM_KRAs.JUN_COMPLETION_PCT, RM_KRAs.JUL_COMPLETION_ABS, RM_KRAs.JUL_COMPLETION_PCT, RM_KRAs.AUG_COMPLETION_ABS, RM_KRAs.AUG_COMPLETION_PCT, RM_KRAs.SEP_COMPLETION_ABS, RM_KRAs.SEP_COMPLETION_PCT, RM_KRAs.OCT_COMPLETION_ABS, RM_KRAs.OCT_COMPLETION_PCT, RM_KRAs.NOV_COMPLETION_ABS, RM_KRAs.NOV_COMPLETION_PCT, RM_KRAs.DEC_COMPLETION_ABS, RM_KRAs.DEC_COMPLETION_PCT, RM_KRAs.JAN_COMPLETION_ABS, RM_KRAs.JAN_COMPLETION_PCT, RM_KRAs.FEB_COMPLETION_ABS, RM_KRAs.FEB_COMPLETION_PCT, RM_KRAs.MAR_COMPLETION_ABS, RM_KRAs.MAR_COMPLETION_PCT FROM Employees JOIN Customers_Employees ON Employees.Employee_ID = Customers_Employees.RM WHERE Customers_Employees.RM = 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Thought:

> Finished chain.
Spent a total of 0 tokens

In [57]:
result

{'input': 'I want to look at the performance of employees in my branch',
 'output': 'Agent stopped due to iteration limit or time limit.'}